body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(https://www.grainchain.com/sites/default/files/flour-baking-background-with-egg,-rolling-pin-and-wheat-ear-000069728007_Medium_3.jpg);
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Image styling for the social site links*/
.iconimg {
    display: inline-block;
    width: 40px;
    height: 40px;
}

/* Background image for the home page*/
.cheftip {
    background-image: url(https://www.sanjeevkapoor.com/images/bgimg.jpeg);
    max-height: 300px;
    overflow: hidden;
}

.chefpic {
    display: block;
    float: right;
    width: 33.3333%;
    height: auto;
    padding-left: 20px;
}

.chefpara {
    width: 100%;
    height: auto;
    padding: 20px 20px 20px 20px;
}

/*Carousels styling*/
#myCarousel {
    margin:auto;
    width: 66%;
    height: 50%;
    text-align: center;
    color: black;
}

.StandardTable thead {
    background-color: lightcoral;
}

.StandardTable tbody {
    background-color: lightgoldenrodyellow;
}

/* Gallery styling*/
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
    }

div.desc {
    padding: 15px;
    text-align: center;
}

.float-img {
    float : right;
    clear : both;
}